body{
    display: flex;
    align-items: center;
    align-content: space-between;
    flex-direction: column;
}

  .buttonContainer{
    flex: 1;
    display: flex;
    align-content: space-around;
  }